# Blacklist development folders
dev/
results/
.env

# Project files
.vscode/
.idea/
.venv/
venv/

# Byte-compiled/optimized/DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
.mypy_cache/

# Pytest
.cache/

# Distribution/packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
